#pokedex {
    width: 100vw;
    margin: 0;
    height: 100vh;
}

#top {
    height: 40vh;
    padding: .8rem 2rem 2rem 2rem;
    background: url(../img/pokeball.png);
    background-repeat: no-repeat;
    background-position: 100% 120%;
    padding-top: 3rem;
}

#infos {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-bar #name {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.25px;
    text-transform: capitalize;
}

#number {
    display: flex;
    text-align: right;
    font-size: 1.2rem;
    color: #fff;
}

#top-bar #types {
    display: inline-flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
    list-style: none;
}

#top-bar #types .type {
    text-transform: capitalize;
    color: #fff;
    width: 60px;
    height: 20px;
    padding: .25rem .6rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.3);
    text-align: center;
    list-style: none;
}
#img {
    display: flex;
    justify-content: center;
}

#poke-img {
    width: 250px;
    height: 250px;
    transform: translateY(2rem);
}

#data {
    background-color: #fff;
    height: 60vh;
    border-radius: 2rem 2rem 0 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#data nav {
    margin-bottom: 16px;
}

#data nav a {
    display: inline;
    padding: 12px 12px 20px;
    text-decoration: none;
    color: #000;
    opacity: 0.5;

    position: relative;
}

#data nav a::after {
    position:absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #0000ff;
    transition: .4s;
}
#data nav a.focus,
#data nav a.focus::after {
    width: 100%;
    opacity: 1;
}

.tabs {
    width: 100%;
    font-size: 0.8rem;
    padding: 20px;
    
    display: none;    
}

.active {
    display: block;
}

#stats {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    gap: 0.6rem;
}

.stat-row {
    display: flex;
    padding: .5rem;
    font-size: 0.875rem;
}

.stat-desc {
    width: 20%;
}

.stat-number {
    width: 10%;
}

.stat-desc {
    color: rgba(167,167,167);
    font-weight: bold;
    text-align: left;
    margin-right: 0.5rem;
}

.stat-number {
    text-align: center;
    font-weight: bold;   
}

.stat-bar {
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
}

.bar-outer {
    background-color: rgba(167,167,167, 0.5);
    display: flex;
    width: 100%;
    height: 0.3rem;
    border-radius: 4px;
}

.bar-inner {
    border-radius: 4px;    
}


.about-desc {
    width: 30%;
}

.about-number {
    width: 70%;
    text-transform: capitalize;
}

.about-desc {
    color:rgba(167,167,167);
    font-weight: bold;
    text-align: left;
    margin-right: 0.6rem;
}

.about-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}


.male, .female {
    padding: 6px 0px;
    text-align: left;
    text-transform: capitalize;
}

.male img, .female img {
    height: 15px;
    vertical-align: middle;
}
.male img:last-child, .female img:last-child {
    margin-left: 10px;
}
#closeBtn {
    position: absolute;
    top: 10px;
    left: 20px;
    border: none;
    background: none;
}

#closeBtn img {
    height: 3rem;
}

.cardEvol {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    margin: 0 auto;
    padding: 10px;
    overflow-y: scroll;   
}

.evol {
    align-self: center;
    margin-bottom: 10px;
    padding: 10px;
}

.evol span {
    margin-right: 20px;
}

.cardEvol .evol img {
    border: 0;
    vertical-align: middle;
    width: 100px;
    aspect-ratio: auto 100/100;
    overflow-clip-margin: content-box;
    overflow: clip;
    
}
div[key = "0"]{
    grid-row: span 8;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.lv {
    font-size: 12px;
}

.moves ol {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44vh;
    overflow-y: scroll;
 }

.moves ol li {
    display: inline-block;
    list-style-type: none;
    width: 33.33%;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-align: center;
 }