* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    background-image: url(../img/pokeball2.png);
    background-repeat: no-repeat;
    background-position-y: -55px;
    background-position-x: 135%;
    background-size: 200px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        background-position-y: -55px;
        background-position-x: 150%;
    }
    
}